@import "~src/assets/styles/variables";

:host {
  display: block;
}

.card-container {
  width: 50 * $space;
  height: 50 * $space;
  border: 2px solid $dark-blue;
  border-radius: 2 * $space;
  padding: 2 * $space;
  background: linear-gradient(to bottom, #b7eaff 0%, $light-yellow 100%);
}

.card-header {
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  margin-bottom: 3 * $space;
}

.city {
  font-size: 6 * $space;
  font-weight: bold;
}

.description {
  font-size: 4 * $space;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 5 * $space;
  line-height: 6 * $space;
}
