@import "~src/assets/styles/variables";

:host {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.error-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.error-icon {
  width: 30 * $space;
  height: 30 * $space;
}
