// Spaces

$space: 4px;
$header-height: 15 * $space;
$footer-height: 10 * $space;

// Colors

$dark-blue: #0b2239;
$light-yellow: #fefdcf;
$white: #fff;

// Fonts
$brash-family: "Brush Script MT", cursive;
